@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-white text-black text-sm antialiased ;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .bg-blue-green {
    background: linear-gradient(90deg, #87d560, #44e708, #42b5e8, #0382e9);
  }
  .bg-blue-green-button {
    background: linear-gradient(90deg, #87d560, #44e708, #42b5e8, #0382e9);
    background-size: 200% 100%;
    background-position: left;
    transition: all 0.3s ease-in-out;
  }
  .bg-blue-green-button:hover {
    background-position: right;
  }
  .shadow-blue-green {
    box-shadow: 0 5px 10px rgb(97, 250, 148), 5px 0 10px rgb(102, 184, 252);
  }
  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: radial-gradient(circle 15px, #ffd738 90%, #0000);
    filter: drop-shadow(0px 0px 1px #ffd738);
    animation: l2 1s infinite alternate linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    --g: no-repeat linear-gradient(#ffd738 0 0) 50%;
    background: var(--g) / 100% 5px, var(--g) / 5px 100%;
    -webkit-mask: radial-gradient(farthest-side, #0000 60%, #000 61%);
  }
  .loader::after {
    transform: rotate(45deg);
  }
  @keyframes l2 {
    100% {
      filter: drop-shadow(0px 0px 20px #ffd738);
    }
  }
}
